/* Elements styling */
.content{
	width:90%;
	margin: auto;
	text-align: center;
}
#wt-container{
	position: relative;
	width: 100%;
    background: url("../images/grid.gif");
	border:1px solid #909090;
}
.wt-table{
	position: absolute;
	background-color: blue;
	border: 1px solid white;
	cursor: move;
}
.wt-chair{
	position: absolute;
	border-radius:50%;
	background-color: red;
	border: 1px solid white;
	cursor: move;
}